body {
  font-family: 'Urbanist', sans-serif;
}

.home-section-banner {
  position: relative;
}

.home-section {
  padding-top: 80px;
  padding-bottom: 50px;
}
.home-section:before {
  display: none;
}
.home-section .home-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  height: auto;
}
.home-section .home-content .home-text {
  width: 60%;
  padding-right: 90px;
}
.home-section .home-content .home-text .md-full {
  padding-top: 80px;
  text-align: left;
}
.home-section .home-content .home-text .md-full .title {
  margin-bottom: 10px;
  color: #515151;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
}
.home-section .home-content .home-text .md-full .md-button {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}
.home-section .home-content .home-text .md-full p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #6F6F6F;
}
.home-section .home-content .home-images {
  width: 40%;
}
.home-section .home-content .home-images img {
  width: 100%;
}

.button-scroll {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.button-scroll span {
  cursor: pointer;
  border: 1px solid #333;
  opacity: 0.5;
  border-radius: 20px;
  display: inline-block;
  padding: 15px 15px;
  transition: all 0.3s;
  width: 30px;
  height: 50px;
  border-radius: 50px;
  box-sizing: border-box;
  position: relative;
}
.button-scroll span:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
.button-scroll span:hover {
  opacity: 1;
  transition: all 0.3s;
}

.local-scroll a {
  margin-right: 15px;
}

.main-nav .inner-nav ul li .mn-sub li a:hover {
  color: #36b342 !important;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
.button-next {
  color: #fff !important;
  background: #60CBB1;
  padding: 0px 30px !important;
  z-index: 9;
  position: relative;
  border-radius: 30px;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
}
.button-next:hover {
  background: #4fa993;
  transition: all 0.3s;
  text-decoration: none;
}

.section-about {
  background: #f58bab;
  padding-top: 60px;
  padding-left: 8%;
  padding-bottom: 0;
}
.section-about .md-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: normal;
  background: #fff;
  padding: 60px 100px;
  padding-bottom: 0;
}
.section-about .md-section.no-padding {
  padding: 0;
  padding-bottom: 80px;
}
.section-about .md-section .md-left {
  width: 50%;
  padding-right: 30px;
  padding-left: 5%;
}
.section-about .md-section .md-left .title h2 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  font-size: 76px;
  color: #f58bab;
}
.section-about .md-section .md-left .title h2 span {
  font-size: 24px;
  font-weight: 500;
}
.section-about .md-section .md-left .sub-title h3 {
  font-size: 30px;
}
.section-about .md-section .md-right {
  width: 50%;
  padding-right: 12%;
  padding-left: 30px;
}
.section-about .md-section .md-right img {
  max-width: 100%;
  width: 100%;
}
.section-about .md-section .md-button {
  margin-top: 20px;
}

.section-job {
  background: #FEF3F6;
}
.section-job .md-title h3 {
  font-size: 76px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #f58bab;
  text-align: center;
  line-height: 76px;
}
.section-job .md-title p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
  color: #f58bab;
  text-align: center;
}
.section-job .md-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-top: 30px;
  gap: 30px;
}
.section-job .md-content .item {
  width: 46%;
  background: #fff;
  padding: 30px;
}
.section-job .md-content .item .img img {
  width: 100%;
}
.section-job .md-content .item h4 {
  color: #f58bab;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.section-job .md-content .item .md-button {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.section-job.staff {
  background: #fff;
}
.section-job.staff .md-slider {
  padding-left: 15%;
  position: relative;
  overflow: hidden;
}
.section-job.staff .md-slider .slider-content {
  margin-right: -25%;
}
.section-job.staff .md-slider .slider-content .features-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}
.section-job.staff .md-slider .slider-content .features-item .img img {
  height: 490px;
  object-fit: contain;
}
.section-job.staff .md-slider .slider-content .features-item .features-content h4 {
  text-align: left;
  margin-bottom: 30px;
}
.section-job.staff .md-slider .slider-content .features-item .features-content p {
  margin-bottom: 6px;
}
.section-job.staff .md-slider .slider-content .features-item .features-content .time {
  text-align: center;
  border-top: 1px solid #222;
  padding-top: 6px;
  margin-bottom: 30px;
}
.section-job.staff .md-slider .slider-content .features-item .features-content .md-button {
  text-align: center;
  display: inline-block;
}
.section-job.staff .md-slider .item-carousel .owl-prev {
  opacity: 1;
  left: 56%;
  top: 30px;
}
.section-job.staff .md-slider .item-carousel .owl-prev i {
  color: #f58bab;
  font-size: 60px;
}
.section-job.staff .md-slider .item-carousel .owl-next {
  opacity: 1;
  left: 60%;
  top: 30px;
}
.section-job.staff .md-slider .item-carousel .owl-next i {
  color: #f58bab;
  font-size: 60px;
}
.section-job.staff .md-slider .item-carousel .owl-pagination {
  bottom: 0;
}
.section-job.staff .md-slider .owl-pagination {
  width: 65%;
}
.section-job.staff .md-slider .owl-page span {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #f58bab;
  opacity: 0.5;
}
.section-job.staff .md-slider .owl-page.active span {
  opacity: 1;
}
.section-job .md-infor {
  padding-bottom: 20px;
}
.section-job .md-infor .content {
  background: #fff;
  padding: 30px 80px;
  margin-top: 30px;
}
.section-job .md-infor .content .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  margin-bottom: 30px;
}
.section-job .md-infor .content .item:last-child {
  margin-bottom: 0;
}
.section-job .md-infor .content .item .img {
  width: 15%;
}
.section-job .md-infor .content .item .ct {
  width: 85%;
  padding-left: 20px;
}
.section-job .md-infor .content .item .ct p {
  margin-bottom: 0;
  color: #000;
  font-size: 16px;
}
.section-job .md-infor .content .item .ct .time {
  margin-bottom: 6px;
}
.section-job .md-infor .md-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  margin-top: 40px;
}
.section-job .md-animal {
  overflow: hidden;
  width: 200%;
  position: relative;
  margin-bottom: 40px;
}
.section-job .md-animal .animal {
  display: flex;
  width: 100vw;
}
.section-job .md-animal .animal img {
  min-width: 120vw;
  padding: 0.9%;
}
.section-job .md-animal .animal img:first-child {
  animation: loop 50s -25s linear infinite;
}
.section-job .md-animal .animal img:last-child {
  animation: loop2 50s linear infinite;
}
.section-job.animal {
  position: relative;
}
.section-job.animal:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  right: 0;
  top: 0;
  background: #f58bab;
  z-index: 2;
}
.section-job.entry .md-infor {
  margin-top: 30px;
}
.section-job.entry .md-infor .entry-ct p {
  color: #f58bab;
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}
.section-job.entry .md-infor .md-button a {
  text-decoration: none;
}
.section-job.entry .md-infor .md-button a:hover {
  background: #fff !important;
}

.img-note {
  background: #f58bab;
}
.img-note img {
  width: 100%;
}

footer {
  background: #4b4b4b;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .md-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: normal;
  gap: 60px;
}
footer .md-footer .footer-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  width: 40%;
}
footer .md-footer .footer-logo img {
  max-width: 97px;
}
footer .md-footer .footer-logo .note {
  margin-top: 10px;
}
footer .md-footer .footer-logo .note p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  text-align: left;
  max-width: 280px;
}
footer .md-footer .footer-logo .copy p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
}
footer .md-footer .footer-links .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .md-footer .footer-links .links a {
  color: #fff;
  transition: all 0.3s;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
}
footer .md-footer .footer-links .links a:hover {
  padding-left: 5px;
  transition: all 0.3s;
}
footer .md-footer .footer-links {
  width: 17.5%;
}
footer .md-footer .footer-links h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #60CBB1;
  text-transform: uppercase;
}
footer .md-footer .footer-links.footer-social {
  width: 30%;
}
footer .md-footer .footer-links.footer-social ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}
footer .md-footer .footer-links.footer-social ul li a {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  transition: all 0.3s;
  margin-right: 15px;
}
footer .md-footer .footer-links.footer-social ul li a:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.button-fixed {
  transform: rotate(90deg);
  position: fixed;
  top: 250px;
  right: -70px;
  z-index: 999999;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.tokyo-center .page-title .md-title h3 {
  font-size: 50px;
}
.tokyo-center .page-title {
  padding-top: 80px;
  padding-bottom: 80px;
}
.tokyo-center .page-section.top-content {
  background: #fff;
}
.tokyo-center .page-section.top-content .md-title h3 {
  font-size: 40px;
}
.tokyo-center .page-section.top-content .img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.tokyo-center .page-section.top-content .img img {
  width: 100%;
}
.tokyo-center .page-section.top-content .content {
  margin-top: 15px;
}
.tokyo-center .page-section.top-content .content p {
  color: #f58bab;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}
.tokyo-center .page-section.top-content .table-content {
  background: #FEF3F6;
  padding: 30px 55px;
  margin-top: 50px;
}
.tokyo-center .page-section.top-content .table-content .md-table .t-img {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.tokyo-center .page-section.top-content .table-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tokyo-center .page-section.top-content .table-content ul li {
  border-bottom: 1px solid #111;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.tokyo-center .page-section.top-content .table-content ul li p {
  margin-bottom: 0;
}
.tokyo-center .page-section.top-content .table-content ul li p.title {
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;
}
.tokyo-center .page-section.top-policy {
  background: #f58bab;
}
.tokyo-center .page-section.top-policy .t-img {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.tokyo-center .page-section.top-policy .md-title h3 {
  font-size: 40px;
}
.tokyo-center .page-section.top-policy .content p {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.tokyo-center .page-section.top-policy.v2 {
  background: #FEF3F6;
}
.tokyo-center .page-section.top-policy.v2 .content {
  margin-top: 20px;
}
.tokyo-center .page-section.staff .t-img {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.tokyo-center .page-section.staff .md-slider .slider-content .features-item .img img {
  height: 420px;
}

#buy-store .home-content .home-text .md-full .title {
  font-size: 24px;
}

#blockchain .home-content .home-text {
  padding-left: 80px;
  padding-right: 0;
}
#blockchain .home-content .home-text .md-full .title {
  font-size: 24px;
}

#browse-store .home-content .home-text .md-full .title {
  font-size: 24px;
}

#app {
  background: #24292e;
}
#app .md-app .title {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
#app .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app .app-btn {
  width: 45%;
  max-width: 160px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  padding: 6px 0px;
}
#app .app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}
#app .app-btn.blu:hover {
  background-color: #36b342;
}
#app .app-btn i {
  width: 20%;
  text-align: center;
  font-size: 28px;
  margin-right: 7px;
}
#app .app-btn .big-txt {
  font-size: 15px;
  text-transform: capitalize;
}
#app .app-btn p {
  margin-bottom: 0;
}

#about-store {
  padding-bottom: 0;
}
#about-store .md-full {
  display: inline-block;
  width: 100%;
}
#about-store .md-full .title h3 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #515151;
}
#about-store .md-full .sub-title {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#about-store .md-full .sub-title p {
  max-width: 490px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #6F6F6F;
  display: inline-block;
}
#about-store .md-full .video {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 80px;
}
#about-store .md-full .paner-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
#about-store .md-full .paner-logo .item {
  width: 25%;
  padding: 0 10px;
}

/* interoperable */
#interoperable {
  background-size: cover;
  background-position: center;
  position: relative;
}

.interoperable-bg {
  position: absolute;
  right: 0;
  top: -800px;
}

.interoperable-content {
  position: relative;
  margin: 0 auto;
  margin-top: 86px !important;
  width: 1435px;
}

.interoperable-content .item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
}

.interoperable-content .item.item__center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interoperable-content .item.item__center .metafe-icon {
  width: 65px;
  height: auto;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.interoperable-content .item .item__content {
  display: flex;
  align-item: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 20px;
  background: #60CBB1;
  width: max-content;
  padding: 8px 20px;
  margin: 5px 0;
}

.interoperable-content .item .item__content h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.44px;
  color: #fff;
  margin: 0;
}

.interoperable-content .item .item__content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #FFFFFF;
  margin: 0;
}

.interoperable-content .item:nth-child(3) {
  top: 20%;
  right: 33%;
}

.interoperable-content .item:nth-child(3) .item__img {
  width: 67px;
}

.interoperable-content .item:nth-child(4) {
  top: 40%;
  right: 20%;
}

.interoperable-content .item:nth-child(5) {
  bottom: 7%;
  left: 20%;
}

.interoperable-content .item:nth-child(6) {
  top: 27%;
  left: 25%;
}

.interoperable-content .item:nth-child(6) .item__img {
  width: 110px;
}

.interoperable-content .item:nth-child(7) {
  top: 0%;
  right: 15%;
}

.interoperable-content .item:nth-child(8) {
  top: 15%;
  right: -10px;
}

.interoperable-content .item:nth-child(9) {
  top: 36%;
  left: 60px;
}

.interoperable-content .item:nth-child(9) .item__img {
  width: 110px;
}

.interoperable-content .item:nth-child(10) {
  bottom: -10%;
  left: -40px;
}

.interoperable-item {
  width: 301.5px;
  height: 95px;
  background-image: url(/assets/images/interoperable-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 26px;
}

.interoperable-item-ava {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.main-nav .inner-nav ul li a {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.main-nav .inner-nav ul {
  float: none;
}

.main-nav .inner-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: normal;
}
.main-nav .inner-nav .btn-dowload {
  margin-left: 30px;
}

.main-nav .mn-sub {
  background: #fff;
  box-shadow: 0 2px 10px 2px #e5e1e1;
  box-shadow: 6px;
  padding: 10px 0;
}

.main-nav .inner-nav ul li .mn-sub li a {
  color: #111;
  line-height: 28px !important;
  padding: 0 15px;
}
.main-nav .inner-nav ul li .mn-sub li a:hover {
  color: #36b342;
}

@media (max-width: 1435px) {
  .interoperable-content {
    width: 1200px;
  }

  .interoperable-content .item.item__center {
    width: 150px;
  }

  .interoperable-content .item.item__center .metafe-icon {
    width: 45px;
    top: 30px;
  }

  .interoperable-content .item .item__content h1 {
    font-size: 18px;
    line-height: 20px;
  }

  .interoperable-content .item .item__content p {
    font-size: 14px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 17%;
    right: 33%;
  }

  .interoperable-content .item:nth-child(3) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(4) {
    top: 40%;
    right: 19%;
  }

  .interoperable-content .item:nth-child(4) .item__img {
    width: 120px;
  }

  .interoperable-content .item:nth-child(5) {
    top: 70%;
  }

  .interoperable-content .item:nth-child(5) .item__img {
    width: 70px;
  }

  .interoperable-content .item:nth-child(6) {
    top: 22%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(6) .item__img {
    width: 100px;
  }

  .interoperable-content .item:nth-child(7) {
    top: -4%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(7) .item__img {
    width: 90px;
  }

  .interoperable-content .item:nth-child(8) {
    top: 5%;
    right: -20px;
  }

  .interoperable-content .item:nth-child(8) .item__img {
    width: 90px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 90px;
  }

  .interoperable-content .item:nth-child(9) .item__img {
    width: 85px;
  }

  .interoperable-content .item:nth-child(10) {
    bottom: -15%;
  }

  .interoperable-content .item:nth-child(10) .item__img {
    width: 100px;
  }
}
@media (max-width: 1200px) {
  .interoperable-content {
    width: 1024px;
  }

  .interoperable-content .item.item__center {
    width: 130px;
  }

  .interoperable-content .item.item__center .metafe-icon {
    width: 40px;
    top: 25px;
  }

  .interoperable-content .item .item__content h1 {
    font-size: 14px;
    line-height: 16px;
  }

  .interoperable-content .item .item__content p {
    font-size: 12px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 17%;
    right: 33%;
  }

  .interoperable-content .item:nth-child(3) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(4) {
    top: 40%;
    right: 19%;
  }

  .interoperable-content .item:nth-child(4) .item__img {
    width: 100px;
  }

  .interoperable-content .item:nth-child(5) {
    top: 70%;
  }

  .interoperable-content .item:nth-child(5) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(6) {
    top: 22%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(6) .item__img {
    width: 80px;
  }

  .interoperable-content .item:nth-child(7) {
    top: -4%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(7) .item__img {
    width: 70px;
  }

  .interoperable-content .item:nth-child(8) {
    top: 5%;
    right: -20px;
  }

  .interoperable-content .item:nth-child(8) .item__img {
    width: 70px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 90px;
  }

  .interoperable-content .item:nth-child(9) .item__img {
    width: 70px;
  }

  .interoperable-content .item:nth-child(10) {
    bottom: -10%;
  }

  .interoperable-content .item:nth-child(10) .item__img {
    width: 75px;
  }
}
@media (max-width: 1024px) {
  .interoperable-content {
    width: 800px;
  }

  .interoperable-content .item.item__center {
    width: 110px;
  }

  .interoperable-content .item.item__center .metafe-icon {
    width: 35px;
    top: 20px;
  }

  .interoperable-content .item .item__content h1 {
    font-size: 12px;
  }

  .interoperable-content .item .item__content p {
    font-size: 10px;
  }

  .interoperable-content .item .item__content {
    padding: 2.5px 8px;
    border-radius: 15px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 15%;
    right: 32%;
  }

  .interoperable-content .item:nth-child(3) .item__img {
    width: 40px;
  }

  .interoperable-content .item:nth-child(4) {
    top: 45%;
    right: 20%;
  }

  .interoperable-content .item:nth-child(4) .item__img {
    width: 90px;
  }

  .interoperable-content .item:nth-child(5) {
    top: 70%;
  }

  .interoperable-content .item:nth-child(5) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(6) {
    top: 22%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(6) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(7) {
    top: -10%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(7) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(8) {
    top: 5%;
    right: -20px;
  }

  .interoperable-content .item:nth-child(8) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 70px;
  }

  .interoperable-content .item:nth-child(9) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(10) {
    bottom: -15%;
  }

  .interoperable-content .item:nth-child(10) .item__img {
    width: 60px;
  }
}
@media (max-width: 800px) {
  .interoperable-content {
    width: 600px;
  }

  .interoperable-content .item.item__center {
    width: 90px;
  }

  .interoperable-content .item.item__center .metafe-icon {
    width: 30px;
    top: 15px;
  }

  .interoperable-content .item .item__content h1 {
    font-size: 12px;
  }

  .interoperable-content .item .item__content p {
    font-size: 10px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 15%;
    right: 32%;
  }

  .interoperable-content .item:nth-child(3) .item__img {
    width: 25px;
  }

  .interoperable-content .item:nth-child(4) {
    top: 45%;
    right: 20%;
  }

  .interoperable-content .item:nth-child(4) .item__img {
    width: 75px;
  }

  .interoperable-content .item:nth-child(5) {
    top: 70%;
  }

  .interoperable-content .item:nth-child(5) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(6) {
    top: 22%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(6) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(7) {
    top: -10%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(7) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(8) {
    top: 5%;
    right: -20px;
  }

  .interoperable-content .item:nth-child(8) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 35px;
  }

  .interoperable-content .item:nth-child(9) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(10) {
    bottom: -15%;
  }

  .interoperable-content .item:nth-child(10) .item__img {
    width: 50px;
  }
}
@media (max-width: 690px) {
  .interoperable-content .item:nth-child(5) {
    left: 25%;
  }

  .interoperable-content .item:nth-child(8) {
    right: 10px;
  }

  .interoperable-content .item:nth-child(10) {
    left: 0;
  }
}
@media (max-width: 600px) {
  .interoperable-content {
    width: 480px;
  }

  .interoperable-content .item.item__center {
    width: 60px;
  }

  .interoperable-content .item.item__center .metafe-icon {
    width: 20px;
    top: 10px;
  }

  .interoperable-content .item .item__content h1 {
    font-size: 10px;
    line-height: 12px;
  }

  .interoperable-content .item .item__content p {
    font-size: 8px;
    line-height: 10px;
    margin-top: 2px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 15%;
    right: 32%;
  }

  .interoperable-content .item:nth-child(3) .item__img {
    width: 20px;
  }

  .interoperable-content .item:nth-child(4) {
    top: 45%;
    right: 20%;
  }

  .interoperable-content .item:nth-child(4) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(5) {
    top: 70%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(5) .item__img {
    width: 40px;
  }

  .interoperable-content .item:nth-child(6) {
    top: 10%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(6) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(7) {
    top: -10%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(7) .item__img {
    width: 35px;
  }

  .interoperable-content .item:nth-child(8) {
    top: 5%;
    right: 0px;
  }

  .interoperable-content .item:nth-child(8) .item__img {
    width: 35px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 35px;
  }

  .interoperable-content .item:nth-child(9) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(10) {
    bottom: -10%;
    left: 10px;
  }

  .interoperable-content .item:nth-child(10) .item__img {
    width: 35px;
  }
}
@media (max-width: 500px) {
  .interoperable-content {
    width: 400px;
  }

  .interoperable-content .item.item__center {
    min-width: 50px;
    max-width: 50px;
  }

  .interoperable-content .item.item__center .metafe-icon {
    width: 15px;
  }

  .interoperable-content .item .item__content h1 {
    font-size: 10px;
    line-height: 12px;
  }

  .interoperable-content .item .item__content p {
    font-size: 8px;
    line-height: 10px;
    margin-top: 2px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 7%;
    right: 32%;
  }

  .interoperable-content .item:nth-child(3) .item__img {
    width: 20px;
  }

  .interoperable-content .item:nth-child(4) {
    top: 50%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(4) .item__img {
    width: 60px;
  }

  .interoperable-content .item:nth-child(5) {
    top: 75%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(5) .item__img {
    width: 40px;
  }

  .interoperable-content .item:nth-child(6) {
    top: -10%;
    left: 30%;
    flex-direction: column-reverse;
  }

  .interoperable-content .item:nth-child(6) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(7) {
    top: -25%;
    right: 15%;
  }

  .interoperable-content .item:nth-child(7) .item__img {
    width: 35px;
  }

  .interoperable-content .item:nth-child(8) {
    top: 0%;
    right: -5px;
  }

  .interoperable-content .item:nth-child(8) .item__img {
    width: 35px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 35px;
  }

  .interoperable-content .item:nth-child(9) .item__img {
    width: 50px;
  }

  .interoperable-content .item:nth-child(10) {
    bottom: -20%;
    left: 0%;
  }

  .interoperable-content .item:nth-child(10) .item__img {
    width: 35px;
  }
}
@media (max-width: 425px) {
  .interoperable-content .item:nth-child(4) {
    top: 50%;
    right: 10%;
  }

  .interoperable-content .item:nth-child(5) {
    top: 75%;
    left: 30%;
  }

  .interoperable-content .item:nth-child(10) {
    left: 0;
    bottom: -20%;
  }
}
@media (max-width: 400px) {
  .interoperable-content {
    width: 350px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 7%;
    right: 27%;
    z-index: 99;
  }

  .interoperable-content .item:nth-child(7) {
    top: -30%;
  }

  .interoperable-content .item:nth-child(8) {
    top: -5%;
    right: -15px;
  }

  .interoperable-content .item:nth-child(9) {
    top: 35%;
    left: 20px;
  }

  .interoperable-content .item:nth-child(10) {
    left: 5px;
    bottom: -30%;
  }
}
@media (max-width: 360px) {
  .interoperable-content .item:nth-child(8) {
    top: -5%;
    right: 5px;
  }
}
@media (max-width: 320px) {
  .interoperable-content {
    width: 290px;
  }

  .interoperable-content .item:nth-child(9) {
    flex-direction: column-reverse;
    top: 10%;
    left: -5px;
  }

  .interoperable-content .item:nth-child(3) {
    top: 7%;
    right: 23%;
  }

  .interoperable-content .item:nth-child(4) {
    top: 60%;
    right: 3%;
  }

  .interoperable-content .item:nth-child(5) {
    top: 90%;
    left: 28%;
  }

  .interoperable-content .item:nth-child(6) {
    top: -35%;
  }

  .interoperable-content .item:nth-child(7) {
    top: -52%;
  }

  .interoperable-content .item:nth-child(10) {
    left: -10px;
    bottom: -30%;
  }
}
@keyframes loop {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}
.main-nav {
  position: fixed;
  background: #fff;
  height: 86px !important;
}

.page {
  padding-top: 80px;
}

.main-nav .inner-nav ul li a:hover {
  color: #36b342;
}

@media only screen and (max-width: 980px) {
  .main-nav .inner-nav {
    display: none;
  }

  .mobile-on .mobile-nav {
    border: none;
    outline: none;
    width: 40px !important;
  }

  .mobile-on .desktop-nav ul {
    background: #fff;
  }

  .mobile-on .full-wrapper .desktop-nav.js-opened {
    background: #fff;
    border-bottom: 1px solid #cdcdcd;
  }

  .full-wrapper {
    margin: 0;
  }

  .mobile-on .full-wrapper .desktop-nav {
    padding: 15px 10px;
  }

  .main-nav .inner-nav .btn-dowload {
    margin-left: 0;
  }

  .mobile-on .desktop-nav ul li a:hover, .mobile-on .desktop-nav ul li a.active {
    color: #36b342;
  }
}
@media only screen and (max-width: 768px) {
  .home-section .home-content {
    flex-direction: column;
  }

  .home-section {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .home-section .home-content .home-text {
    padding-right: 0;
    width: 100%;
  }

  .home-section .home-content .home-text .md-full .title {
    font-size: 30px;
    line-height: 40px;
  }

  .home-section .home-content .home-text .md-full .md-button {
    margin-top: 0;
  }

  .home-section .home-content .home-images {
    width: 100%;
  }

  #buy-store {
    padding-top: 10px;
  }
  #buy-store .home-content .home-text .md-full {
    padding-top: 30px;
  }

  #blockchain .home-content .home-text {
    padding-left: 0;
  }

  #blockchain .home-content {
    flex-direction: column-reverse;
  }

  #app .md-app .title {
    font-size: 22px;
  }

  #app .social-btns {
    flex-direction: column;
  }

  #app .app-btn {
    margin: 0;
    margin-bottom: 10px;
  }

  footer .md-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  footer .md-footer .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  footer .md-footer .footer-links {
    width: 50%;
  }

  .home-section .home-content .home-text .md-full {
    padding-top: 30px;
  }

  .local-scroll a {
    margin-bottom: 10px;
  }
}
